html {
  height: 100%;
}

body {
  height: 100%;
  user-select: none;
  overflow: hidden;
  cursor: url("/cursor/default.png"), default;
}

button:hover {
  cursor: url("/cursor/pointer.png"), pointer;
}

div#root {
  height: 100%;
}

div.app {
  height: 100%;
}
